SUPABASE_URL=https://yxddgzbvzzvxfuqqcdqn.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl4ZGRnemJ2enp2eGZ1cXFjZHFuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ3NjEyMzgsImV4cCI6MjA5MDMzNzIzOH0.rWB04YNXP86KtO1ou-llOJj5g-Rmkvkv9cpwyoNRuHQ